/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Секция header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-auto-flow: row;
  padding: var(--padding-big);
  block-size: 100vh;
  min-block-size: 768px;
}

@supports (block-size: 100vb) {
  .header {
    block-size: 100vb;
  }
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 0.7rem;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px 4px;
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 1em;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  margin-inline-start: -20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vi, 9.8125rem);
  line-height: 0.83em;
  text-shadow: 4px 4px 0 var(--decor-color);
}

.title-decor {
  color: var(--accent-subtitle-color);
  font-size: var(--main-font-size);
  background-color: var(--decor-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.3em;
  inline-size: clamp(22.75rem, -1.0625rem + 49.6094vi, 30.6875rem);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px solid var(--accent-color);
  border-inline-start: none;
  border-block-end: none;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}
  
.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px solid var(--accent-color);
  border-inline-end: none;
  border-block-start: none;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
}
  
.decorative-text {
  position: absolute;
  z-index: -1;
  inset-inline-end: 48px;
  inset-block-start: 20px;
}
  
.decorative-text::before {
  content: "rec";
  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 1.4em;
  text-transform: uppercase;
}

.decorative-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  margin-inline-start: 10px;
  margin-block-start: 8px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

@media(width > 1024px) {
  .header {
    margin: auto;
    inline-size: 80%;
  }
}

@media (width <= 768px) {
    .header__theme-menu {
      justify-self: end;
      align-self: center;
    }
    
    .header__theme-menu-list {
      flex-direction: column;
    }
}
  
@media (width <= 375px) {
    .header {
      padding: var(--padding-small);
      min-block-size: 668px;
    }
  
    .header__title {
      margin: 0;
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vi, 7.5rem);
    }
  
    .header__text {
      inline-size: 100%;
    }
  
    .decorated-zone::before {
      inset-inline-end: 10px;
      inset-block-start: 10px;
    }

    .decorated-zone::after {
      inset-inline-start: 10px;
      inset-block-end: 10px;
    }

    .decorative-text {
      inset-inline-end: 38px;
      inset-block-start: 10px;
    }
}

/* Секция content */

.content {
  padding: 60px var(--padding-big) 49px;
}

.section {
  margin-block-end: 80px;
}
  
.section:not(.section-what) {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 648.92px);
  gap: 20px;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-what {
  flex-direction: row;
  margin-block-start: 21px;
}

.section-what article {
  flex-grow: 1;
  flex-basis: 0;
}

.section__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.3em;
  inline-size: 17em;
}

.section__subtitle {
  font-size: var(--main-font-size);
} 
   
.section__subtitle-list {
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 1.3em;
}  

.section__text {
  margin-block-start: var(--padding-small);
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 1.3em;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--decor-color);
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

@media (width <= 1000px) {
  .article-what {
    flex-direction: column;
  }
}

@media (width <= 768px) {
  .section__title {
    inline-size: 13.1em;
  }  
}

@media (width <= 650px) {
  .section:not(.section-what) {
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 375px) {
  .content {
    padding: 40px var(--padding-small) 36px;
  }

  .section {
    margin-block-end: 50px;
  }

  .section__title {
    inline-size: 100%;
  } 
}

/* Секция gallery */

.gallery {
  display: block;
}

.gallery__heading {
  margin-block-end: var(--padding-big);
}

.gallery-picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.pictures {
  display: grid;
  gap: 20px;
}

.sunset {
  grid-area: 1 / 1 / 2 / 3;
}

.ice-cream {
  grid-area: 1 / 3 / 3 / 4;
}

.books {
  grid-area: 2 / 2 / 3 / 3;
}

.tape {
  grid-area: 2 / 1 / 4 / 2;
}

.street {
  grid-area: 3 / 2 / 4 / 4;
}

@media (width <= 530px) {
  .gallery__heading {
    margin-block-end: 11px;
  }

  .pictures {
    display: block;
  }

  .pictures li:not(:last-child) {
    margin-block-end: 6px;
  }
}

/* Секция footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-big);
  block-size: 100vh;
  min-block-size: 768px;
}

@supports (block-size: 100vb) {
  .footer {
    block-size: 100vb;
  }
}

.footer__title {
  color: var(--title-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vi, 9.8125rem);
  line-height: 0.83em;
  text-shadow: 2px 2px 0 var(--decor-color);
}

@media (width <= 375px) {
  .footer {
    padding: var(--padding-small);
    min-block-size: 668px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vi, 7.5rem);
  }
}